# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
classification_vector_spaces/week4/assignment/data/en_embeddings.p
classification_vector_spaces/week4/assignment/data/en-fr.test.txt
classification_vector_spaces/week4/assignment/data/en-fr.train.txt
classification_vector_spaces/week4/assignment/data/fr_embeddings.p
classification_vector_spaces/week4/assignment/tmp2/corpora/stopwords.zip
classification_vector_spaces/week4/assignment/tmp2/corpora/twitter_samples.zip
classification_vector_spaces/week4/assignment/tmp2/corpora/stopwords/arabic
classification_vector_spaces/week4/assignment/tmp2/corpora/stopwords/danish
classification_vector_spaces/week4/assignment/tmp2/corpora/stopwords/azerbaijani
classification_vector_spaces/week4/assignment/tmp2/corpora/stopwords/dutch
classification_vector_spaces/week4/assignment/tmp2/corpora/stopwords/english
classification_vector_spaces/week4/assignment/tmp2/corpora/stopwords/finnish
classification_vector_spaces/week4/assignment/tmp2/corpora/stopwords/german
classification_vector_spaces/week4/assignment/tmp2/corpora/stopwords/french
classification_vector_spaces/week4/assignment/tmp2/corpora/stopwords/greek
classification_vector_spaces/week4/assignment/tmp2/corpora/stopwords/hungarian
classification_vector_spaces/week4/assignment/tmp2/corpora/stopwords/indonesian
classification_vector_spaces/week4/assignment/tmp2/corpora/stopwords/italian
classification_vector_spaces/week4/assignment/tmp2/corpora/stopwords/kazakh
classification_vector_spaces/week4/assignment/tmp2/corpora/stopwords/norwegian
classification_vector_spaces/week4/assignment/tmp2/corpora/stopwords/nepali
classification_vector_spaces/week4/assignment/tmp2/corpora/stopwords/portuguese
.gitignore
classification_vector_spaces/week4/assignment/tmp2/corpora/stopwords/turkish
classification_vector_spaces/week4/assignment/tmp2/corpora/stopwords/swedish
classification_vector_spaces/week4/assignment/tmp2/corpora/stopwords/tajik
classification_vector_spaces/week4/assignment/tmp2/corpora/stopwords/spanish
classification_vector_spaces/week4/assignment/tmp2/corpora/stopwords/slovene
classification_vector_spaces/week4/assignment/tmp2/corpora/stopwords/russian
classification_vector_spaces/week4/assignment/tmp2/corpora/stopwords/romanian
